body {
  background-color:#269;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.calc {
  margin-top: 2%;
  display: flex;
  padding: 0 !important;
}

.wrapper {
  background-color: white;
  max-width: 350px;
  max-height: 600px;
  display: flex;
  margin: auto;
  flex-direction: column;
  border: 1px solid #99e;
  padding: 5px;
  border-radius: 3px;
}

.wrapper > div {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  margin: 3px;
}

.wrapper button {
  width: 60px;
  margin: 2px;
}

.wrapper div button:last-of-type {
  flex-grow: 1;
}

.wrapper div,
.btn {
  font-size: 24px;
}
.wrapper .row {
  padding: 0 !important;
}

.display {
  max-width: 282px;
  max-height: 90px !important;
  min-height: 72px !important;
  font-size: 38px !important;
  font-weight: bold;
  border: 2px solid #abc;
  background-color: #F6EB9A;
  color: #1C0C59;
  padding-left: 15px;
  border-radius: 3px;
}

.foot, .foot p {
  margin: 0 auto !important;
  font-size: 12px !important;
}
